body
{
  margin: 0;
  height: 100%;
  width: 100%;
}

.heading
{
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: blue;
}

.weather-content
{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

.search-bar
{
  position: absolute;
  width: 20%;
  height: 100vh;
}

.weather-info
{
  position: absolute;
  left: 20rem;
  width: 60%;
}

.weather-cards
{
  position: absolute;
  left: 20rem;
  top: 20rem;
  width: 60%;
}