body
{
  margin: 0;
  height: 100%;
  width: 100%;
}

.heading
{
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: blue;
}

.weather-content
{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 1rem;
}

.search-bar h2
{
  margin-bottom: 10px;
}

.search-bar
{
  position: absolute;
  width: 20%;
  height: 100vh;
}

#city
{
  margin-bottom: 10px;
  resize: none;
  border-radius: 5px;
  color: rgba(red, green, blue, 0.25);
}

.search-btn
{
  width: 75%;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
}

.search-btn:hover
{
  background: rgba(0, 0, 255, .8);
  transition: .25s ease-in-out;
}

.weather-info
{
  border: 1px solid black;
  position: absolute;
  margin-top: 2%;
  left: 15rem;
  width: 65%;
  height: 25vh;
}

.weather-info h2
{
  margin-top: auto;
}

.forecast
{
  position: absolute;
  left: 15rem;
  top: 15rem;
  width: 80%;
}

.forecast h1
{
 margin: auto;
}

.column
{
  float: left;
  width: 15%;
  padding: 0 10px 0 0px;
  margin-top: 10px;
}

.card
{
  text-align: center;
  font-size: 12px;
  height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.card p{
  margin: 5px;
}

.saved-city
{
  padding: 0;
  margin-top: 5px;
  width: 75%;
  color: white;
  background-color: gray;
  border-radius: 5px;
  border: none;
}

.saved-city:hover
{
  background: rgba(85, 85, 85, 0.8);
  transition: .25s ease-in-out;
}

hr.rounded
{
  border-top: 3px solid grey;
  border-radius: 1px;
}